@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,900;1,300;1,600;1,700&family=Black+Ops+One&family=Pathway+Gothic+One&family=Rubik+Glitch&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    
}

a{
    text-decoration: none;
}

$font-btn:'barlow';

$color_1: #f5f5f5;
$color_2: white;


$color_1: white;
$font-family_1: Verdana, sans-serif;
$background-color_1: #848383;
$background-color_2: white;
$background-color_3: #395b64;

$color_4: whitesmoke;
$font-family_2: "barlow";
$background-color_4: rgba(0,0,0,.7);



@mixin flex-center-colum{
    display: flex;
    justify-content:center;
    flex-direction:column;
}

@mixin flex-center{
    display:flex;
    justify-content:center;
}

@mixin btn-1{
    background-color: rgba(0, 0, 0, 0);;
    border: 3px solid rgba(0, 0, 0, 0);;
    padding: 10px;
    border-radius: 25px;
    width: fit-content;
    &:hover{
        transition: 300ms;
        background-color: rgba(61, 61, 61, 0.553);;
        border: 1px solid ;
        padding: 10px;
        border-radius: 40px;
    }
}

@mixin btn{
    background-color: orange;
    border: 3px solid orange;
    padding: 10px;
    border-radius: 25px;
    width: fit-content;
    &:hover{
        transition: 300ms;
        background-color: #ffd300;
        border: 3px solid  orange;
        padding: 10px;
        border-radius: 40px;
    }
}


@mixin background{
    background-position: center;
    background-size: cover;
}

@mixin logo{
    .header-logo {
        margin: 50px;
        font-size: clamp(1rem , 4vw, 2.5rem);
        color: white;
        font-family: 'black ops one';
        span{
            color: orange;
        }
    }
}
